@import "tailwindcss";
@font-face {
  font-family: "Roboto Mono";
  src: url("/src/assets/fonts/RobotoMono-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/RobotoMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/src/assets/fonts/Vazirmatn-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/Vazirmatn-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@tailwind utilities;
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555; /* Customize the color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #333; /* Color on hover */
}
.toast-base {
  background-color: #323437 !important;
  border: 2px solid #6cb4ee;
}

.toast-success {
  background-color: "#7FD88B" !important;
  border: 2px solid #7fd88b !important;
}
.toast-warning {
  background-color: "#F5C542" !important;
  border: 2px solid #f5c542 !important;
}

.toast-error {
  background-color: "#ff6b6b" !important;
  border: 2px solid #ff6b6b !important;
}

.toast-info {
  border: 2px solid #6cb4ee !important;
}

.toast-loading {
  border: 2px solid #f5c542 !important;
}
